*{
 margin: 0;
 gap: 0;
 padding: 0;   
 box-sizing: border-box;
}

body {
    background-color: hsl(30, 54%, 90%);
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.wrapper {
    width: 1440px;
    background: white;
    border-radius: 45px;
    padding: 50px;
}

header {
    display: flex;
    justify-content: center;
    /* padding: 50px; */
}

header img {
    border-radius: 30px;

}

.description {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description h1 {
    font-size: 40px;
    color: hsl(24, 5%, 18%);
}

p {
    font-size:16px;
}

.preparation {
 background-color: hsl(330, 100%, 98%);
 padding: 30px;
 border-radius: 15px;
 margin-top: 24px;
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.preparation h3 {
color: hsl(332, 51%, 32%);
}

.preparation ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 40px;
}

.preparation li {

}

.preparation li span {
    color: hsl(24, 5%, 18%);
    font-weight: 800;
}

.ingredients {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.ingredients h2 {
    margin: 0 10px;
    color: hsl(14, 45%, 36%);
    font-size: 30px;
}

.ingredients ul {
    margin:0 40px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
}

.ingredients li {

}

.instructions {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.instructions h2 {
    margin: 0 10px;
    color: hsl(14, 45%, 36%);
    font-size: 30px;
}

.instructions ol {
    margin:0 40px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
}

.instructions li {

}

.instructions li span {
    color: hsl(24, 5%, 18%);
    font-weight: 800;
}


.nutrition {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.nutrition h2 {
    color: hsl(14, 45%, 36%);
    margin: 0 10px;
    font-size:30px;
}

.nutrition p {
    margin: 20px 10px;
    display: flex;
}

.table {
    display: flex;
    justify-content: space-between;
}

.table .values p {
    color: hsl(14, 45%, 36%);
    font-weight: 800;
}
.nutrients  {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    align-items: flex-start;
}

.values {
    margin: 0 600px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
}

